.listAction{
    margin-right: 10px;
    border-right: 1px solid #cccccc;
    button{
        margin-left: 5px;
        margin-right: 5px;
    }
    .delete{
        color:#b74646;
    }
    .edit{
        color: #6b6b6b;
    }
}