.auth {
  &-link {
    width: 178px;
    height: 58px;
    border: 1px solid #dadada;
    border-radius: 2px;
    background-color: rgba(218, 218, 218, 0.09);
    font-size: 16px;
    color: #787a78;
    line-height: 58px;
    text-align: center;
  }
}
