fontawesome*
*-lock.json
node_modules
.git
docker/
coverage/
.circleci/
.github/
.editorconfig
.env
.env.example
Procfile
README.npm_modules
.prettierrc.json
.prettierignore
.gitignore
.eslintignore
.eslintrc.js


