.testsDiv {
  margin-top: 25px;
  width: 100%;
  border: 2px solid rgba(218, 218, 218, 0.37);
  border-radius: 5px;
  color: #857f7f;
  .reviewButton {
    button {
      width: 133px;
      height: 47px;
      border-radius: 2px;
      background-color: #ededed;
      background-size: cover;
      font-family: Quicksand;
      font-size: 20px;
      text-decoration: none solid rgb(133, 127, 127);
      text-align: center;
      outline: none;
    }
    button:hover {
      background-color: #857f7f;
      color: #ededed;
    }
  }
  .filter {
    .customQuestion {
      button {
        background-color: rgba(1, 71, 163, 0.918);
        font-size: 11px;
        padding: 5px 10px;
        color: #fff;
        font-weight: 600;
        border-radius: 2px;
        position: absolute;
        right: 3%;
        margin-top: -5%;
        &:focus {
          border: none;
          outline: none;
        }
      }
    }
    .skillsFilter {
      width: 50%;
      margin-left: 10px;
    }
  }
  .testSection {
    border-bottom: 1px solid rgba(218, 218, 218, 0.575);
  }
}
