.education-history-section {
  .title {
    font-size: 22px;
    color: #747474;
    text-decoration: none solid rgb(116, 116, 116);
  }

  .back-arrow {
    position: absolute;
    color: #747474;
    left: -43px;
    top: 0px;
    font-size: 22px;
  }

  .input-height {
    height: 3rem;
    border-radius: 4px;
    color: #747474;
    font-size: 14px;
  }

  .card {
    border-radius: 2px;

    .card-title {
      font-size: 15px;
      background-color: #37497e;
    }

    .card-content {
      color: #303030;
      font-size: 14px;
    }
  }

  .add-education-btn {
    height: 41px;
    align-items: center;
    background-color: #37497e;
  }
  .borderGray {
    border-top: none;
  }
}

@media (max-width: 786px) {
  .education-history-section {
    width: 60%;

    .back-arrow {
      display: none;
    }
  }
}

@media (max-width: 500px) {
  .education-history-section {
    width: 90%;

    .title {
      text-align: center;
    }

    .back-arrow {
      display: none;
    }
  }
}
