.recommendedUserModal {
  position: relative;
  .recommendedUser {
    background: white;
    max-width: 1200px;
    padding: 50px;
    margin: auto;
    margin-top: 50px;
    border-radius: 2px;
    min-height: 300px;
    position: relative;
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
    .userImageBio {
      position: relative;
      .image {
        width: 130px;
        height: 130px;
        object-fit: cover;
        img {
          width: 100%;
          height: 100%;
          border-radius: 100%;
          filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.4));
          object-fit: cover;
        }
      }
      .detail {
        position: relative;
        margin-top: 20px;
        margin-left: 20px;
        width: 80%;
        display: flex;
        flex-direction: column;
        .title {
          text-transform: capitalize;
          color: #747474;
          font-size: 18px;
        }
        .description {
          margin-top: 10px;
          font-size: 14px;
          text-align: justify;
          color: #747474;
        }
        .textCenterDescription {
          text-align: center !important;
        }
      }
      .addFlex {
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
    .paymentInfo {
      position: relative;
      margin-top: 30px;
      padding: 0px 10px 0px 10px;
      .heading {
        position: relative;
        color: #747474;
        text-transform: uppercase;
        margin-bottom: 20px;
        span {
          &:last-child {
            margin-left: 10px;
            font-size: 15px;
          }
        }
      }
      ul {
        li {
          width: 30%;
          margin: 10px;
          &:first-child {
            margin-left: 0px;
          }
          .year {
            color: #8a8a8a;
            font-weight: bold;
            font-size: 13px;
            padding-right: 76px;
          }
          ul {
            width: 100%;
            li {
              width: 100%;
              margin-left: 0px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .recommendedUserModal {
    .recommendedUser {
      max-width: 95%;
      margin: auto;
      margin-top: 10px;
      padding: 10px;
      max-height: 95vh;
      padding-bottom: 100px;
      .closeModal {
        z-index: 100;
      }
      .userImageBio {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .detail {
          width: 100%;
          margin-left: 0px;
          margin-top: 10px;
          .title {
            text-align: center;
            font-size: 20px;
          }
          .textCenterDescription {
            text-align: center !important;
          }
        }
        .addFlex {
          height: 100%;
        }
      }
      .paymentInfo {
        ul {
          li {
            width: 100%;
            margin: 0;
            margin-top: 5px;
            margin-bottom: 5px;
            .year{
              padding-right: 3px;
            }
          }
        }
      }
    }
  }
}
