.search {
  align-items: center;
  position: relative;
  &-input {
    height: 2.2rem !important;
  }
  &-icon {
    fill: #c2c2c2 !important;
    left: 0.5rem;
    right: 0.5rem;
    position: absolute;
    cursor: pointer;
  }
}
