.form-title {
  &-back-arrow {
    color: #747474;
    left: -43px;
    top: 0px;
    font-size: 22px;
  }

  &-text {
    font-size: 22px;
    color: #747474;
    text-decoration: none solid rgb(116, 116, 116);
  }
}
