.input-height {
  height: 3rem !important;
  border-radius: 4px;
  color: #747474;
  &::placeholder {
    color: #c9c9c9;
  }
}

.inputError {
  color: rgb(255, 0, 0);
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  .form-company-school {
    position: relative;
    input {
      width: 100%;
    }
  }
}
