.form-title {
  &-back-arrow {
    color: #747474;
    left: -43px;
    top: 0px;
    font-size: 22px;
  }
  &-text {
    font-size: 22px;
    color: #747474;
    text-decoration: none solid rgb(116, 116, 116);
  }
}

@media screen and (max-width: 768px) {
  .form-title {
    margin-top: 0 !important;
    &-back-arrow {
      display: none !important;
    }
    &-text {
      width: 100%;
      text-align: center;
    }
  }
}
