@import '../../../Talent/Dashboard/Employment/Employment.scss';

.current-role-section {
  .title {
    font-size: 22px;
    color: #747474;
    text-decoration: none solid rgb(116, 116, 116);
  }

  .back-arrow {
    position: absolute;
    color: #747474;
    left: -43px;
    top: 0px;
    font-size: 22px;
  }
}

@media screen and (max-width: 786px) {
  .current-role-section {
    width: 100%;
    .back-arrow {
      display: none;
    }

    .containers {
      width: 60%;
    }

    .title {
      text-align: center;
      margin-left: 0 !important;
    }
  }
}

@media screen and (max-width: 500px) {
  .current-role-section {
    .containers {
      width: 100%;
    }
  }
}
