.listOfStatistic {
  position: relative;
  display: flex;
  align-items: center;
  border-top: 1px solid #e3e3e3;
  padding: 15px 0px 15px 0px;
  &:last-child {
    border-bottom: 1px solid #e3e3e3;
  }
  li {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
    color: #727272;
    cursor: pointer;
    &:first-child {
      margin-left: 0px;
    }
    .name {
      margin-left: 5px;
      font-size: 13px;
    }
    .rate {
      margin-left: 5px;
      font-size: 13px;
    }
  }
}

@media screen and (max-width: 768px) {
  .listOfStatistic {
    flex-wrap: wrap;
    li {
      flex-grow: 1;
      margin: 5px;
      margin-left: 5px !important;
      margin-right: 5px !important;
    }
  }
}
