.account-types-section {
  .title-container {
    max-width: 410px;
    .title {
      font-size: 24px;
      color: #737373;
    }
    .subtitle {
      max-width: 96%;
      font-size: 13px;
      color: #b0b0b0;
    }
  }
}
.account-types {
  width: 670px;
  &-item {
    width: 280px;
    margin-bottom: 48px;
  }
  &-item:nth-child(odd) {
    margin-right: 110px;
  }
}

@media (max-width: 480px) {
  .account-types-section {
    padding-top: 10px;
    .title-container {
      max-width: 272px;
      z-index: 10;
      .title {
        font-size: 16px;
      }
      .subtitle {
        font-size: 12px;
      }
    }
  }
  .account-types {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    &-item {
      width: 142px;
      margin-bottom: 36px;
    }
    &-item:nth-child(odd) {
      margin-right: 12px;
    }
  }
}
