@import '../../../RecentEmployer/RecentEmployer.scss';

.addNewEmployment {
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 100;
  input {
    border: 1px solid #dadada;
  }
}
.containers {
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color:white;
  width: 550px;
  margin: auto;
  background: white;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
  &::-webkit-scrollbar {
    width: 0;
    background-color: none;
    background: none;
    opacity: 0;
  }
  &::-webkit-scrollbar-thumb {
    background-color: none;
    outline: none;
    opacity: 0;
  }
  &::-webkit-scrollbar-track {
    box-shadow: none;
  }
}

.recent-employer-section {
  background: white;
  padding: 40px;
  margin-bottom: 30px;
  border-radius: 4px;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 10px;
  .back-arrow {
    position: relative;
    left: 0;
    border: none;
    background: none;
    outline: none;
    box-shadow: none;
  }
  .title {
    margin-left: 20px;
  }
  .divider {
    border-radius: 4px;
  }
  .responsibilities {
    display: flex;
    position: relative;
    flex-direction: row;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
    .item {
      font-size: 16px;
      width: 100%;
      height: 40px;
      display: flex;
      align-items: center;
      padding-left: 10px;
    }
    button {
      flex-grow: 1;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgb(255, 0, 0);
      border: none;
      outline: none;
      position: absolute;
      bottom: 0;
      top: 0;
      right: 0;
    }
    .add {
      background-color: #f8f8f8;
      color: #545454;
    }
  }
  .addBorder {
    border: 1px solid #dadada;
    input {
      border: none;
    }
  }
  .dateContainer {
    display: flex;
    width: 100%;
    align-items: center;
    .item {
      flex-grow: 1;
      margin: 2px;
      display: flex;
      flex-direction: column;
      height: 40px;
      border: 1px solid #dadada;
      border-radius: 4px;
      label {
        font-size: 10px;
        margin: 0;
        line-height: 1;
        padding-left: 5px;
      }
      input {
        width: 100%;
        font-family: 'Quicksand', sans-serif;
        padding-left: 5px;
        border: none;
        outline: none;
      }
    }
  }
  .select {
    border: 1px solid #dadada;
    border-radius: 4px;
  }
  .inputError {
    color: rgb(255, 0, 0);
    font-size: 12px;
  }
}
