.user-dashboard-container {
  background: #f3f3f3;
}

.motif-image-user-dashboard {
  background: #c5c5c5 !important;
  height: 24rem;
  word-wrap: break-word;
  opacity: 0.2;
  mix-blend-mode: luminosity;
}

.notFound {
  color: #5b5a5a;
}

@media screen and (max-width: 768px) {
  .user-dashboard-container {
    .biography {
      width: 100%;
      padding-top: 7px;
      padding-bottom: 7px;
      color: #747474;
      small {
        font-size: 13px;
      }
    }
    .addButton {
      padding: 10px;
      button {
        font-size: 14px;
      }
    }
    .tDashboardItem {
      padding-bottom: 20px;
    }
  }
}
