.light-fonts {
  color: #747474 !important;
}

.medium-fonts {
  color: #3b3a3a;
  font-weight: 500;
  font-size: 16px;
}

.verified-color {
  color: #178f1d;
}

.verify-progress-color {
  color: #30a3e6;
}

.not-verified-color {
  color: #8f2517;
}

.bg-card-preview {
  li {
    &:nth-of-type(odd) {
      background: #e6e6e6;
    }
  }
}

.accordion-menu-custom {
  width: 50%;
}

.next-btn {
  height: 41px;
  align-items: center;
  background-color: #5f5f5f;

  &:focus {
    outline: none;
  }

  &:hover {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.35);
  }
}

// authentication

.authentication-custom {
  flex-wrap: nowrap;
  .auth-bg {
    background: linear-gradient(0deg, #010a26 0%, #021247 100%);
  }
  .auth-btn {
    background: #2661eb;
    outline: none;
    border: none;
  }
  .auth-icon {
    font-size: 35px;
  }
}

.verify-background {
  background: linear-gradient(0deg, #00330e 0%, #00701e 100%) !important;
}

.verify-back-error {
  background: linear-gradient(0deg, #681010 0%, #d92c44 100%) !important;
}

.back-btn {
  background: #2661eb;
  outline: none !important;
  border: none !important;
}

@media (max-width: 786px) {
  .authentication-custom {
    justify-content: center;
    flex-wrap: wrap;
  }
  .auth-bg {
    width: 100%;
  }
  .auth-image {
    display: none;
  }
  .accordion-menu-custom {
    width: 100%;
  }
}
.overide {
  width: 40% !important;
  height: 100% !important;
}

.mainColor {
  background-color: #f5f5f5;
}

.slick-dots li {
  border: 2px solid gray;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.slick-dots .slick-active {
  border: 2px solid gray;
  border-radius: 50%;
  background-color: gray;
}

.slick-dots li button {
  color: transparent !important;
  opacity: 0;
}

.customFont {
  font-size: 1.2rem !important;
}
.account-type-header {
  background-image: linear-gradient(90deg, #4d9b62c4 0%, #1436b1 100%);
}
.account-status {
  position: relative;
  height: 160px;
  & p:not(:last-child) {
    margin-bottom: 10px;
  }
}
.account-hovered {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #4d9b62c4 0%, #1436b1 100%);
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.account-hovered:hover,
.clicked {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.icon-fonts {
  font-size: 2rem !important;
}

.back-for {
  background: linear-gradient(0deg, #010a26 0%, #021247 100%);
}

.header-container .header-background {
  width: 0 !important;
}

@media screen and (max-width: 480px) {
  .display-grid {
    display: grid !important;
  }

  .margin-grid-1 {
    margin-bottom: 3rem;
  }

  .overide {
    width: 30% !important;
  }

  .type-title {
    margin-left: 1rem !important;
  }

  .width-testm {
    width: 80% !important;
  }

  .font-width {
    font-size: 1.3rem !important;
  }

  .front-mob {
    width: 100% !important;
  }

  .front-mob-reset {
    padding: 0 2rem;
    width: 100% !important;
  }

  .header-container .header-background {
    width: 0 !important;
  }

  .mobile-verify {
    padding-top: 9rem !important;
    padding-bottom: 9rem !important;
    padding-right: 2rem !important;
    padding-left: 2rem !important;
  }

  .cover-image {
    width: 100%;
  }

  .cust-width {
    width: 86%;
  }
}

@media screen and (min-width: 2560px) {
  .account-type {
    width: 40rem !important;
    margin-left: 7rem !important;
    margin-right: 7rem !important;
  }

  .header-container .header-background {
    width: 0 !important;
  }
}

@media screen and (max-width: 768px) {
  .medium-fonts {
    font-size: 14px;
  }
}
