@import './cust-material.scss';
@import './main.css';
@import '../../components/CurrentRole/CurrentRole.scss';
@import '../../components/SkillRanking/SkillComponent.scss';
@import '../../components/SkillRanking/SkillRanking.scss';
@import '../../coverImage/coverImage.scss';
@import '../../components/Layout/NavBar/NavBar.scss';
@import '../../components/userDashboard/userDashboard.scss';
@import '../../components/Layout/Layout.scss';
@import '../../components/Layout/Footer/Footer.scss';
@import '../../components/Layout/BottomMenu/BottomMenu.scss';

@import '../../components/PremiumBilling/PremiumBilling.scss';
@import '../../components/StandardBilling/StandardBilling.scss';
@import '../../components/GetHired/GetHired.scss';
@import '../../components/AddEducation/AddEducation.scss';
@import '../../components/EmploymentHistory/EmploymentHistory.scss';
@import '../../components/EmploymentHistoryList/EmploymentHistoryList.scss';
@import '../../components/EducationHistory/EducationHistory.scss';
@import '../../components/EducationHistoryList/EducationHistoryList.scss';


body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}
