@import './cust-material.scss';
@import './main.css';
@import '../../components/CurrentRole/CurrentRole.scss';
@import '../../components/SkillRanking/SkillComponent.scss';
@import '../../components/SkillRanking/SkillRanking.scss';

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}
