@import './cust-material.scss';
@import './main.css';

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}

button:disabled,
button[disabled] {
  cursor: not-allowed;
}

.inputError {
  color: rgb(255, 0, 0);
}
