.horizontalPagination {
  position: relative;
  border: 1px solid #e8e8e8;
  border-radius: 2px;
  ul {
    display: flex;
    list-style-type: none;
  }
  li {
    position: relative;
    height: 40px;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    border-right: 1px solid #e8e8e8;
    &:last-child {
      border-right: none;
    }
    a {
      width: 100%;
      height: 100%;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
    }
  }
  .active{
      background: #e8e8e8;
  }
}
