.employment-history-list-section {
  width: 33%;
  .title {
    font-size: 22px;
    color: #747474;
    text-decoration: none solid rgb(116, 116, 116);
  }

  .back-arrow {
    position: absolute;
    color: #747474;
    left: -43px;
    top: 0px;
    font-size: 22px;
  }

  .input-height {
    height: 3rem;
    border-radius: 4px;
    color: #747474;
    font-size: 14px;
  }

  .card {
    border-radius: 2px;

    .card-title {
      font-size: 15px;
      background-color: #38727e;
    }

    .card-content {
      color: #303030;
      font-size: 14px;
    }
  }

  .add-employer-btn {
    height: 41px;
    align-items: center;
    background-color: #3e8074;
  }
}

@media screen and (max-width: 786px) {
  .employment-history-list-section {
    width: 50%;
    margin-bottom: 100px !important;

    .back-arrow {
      display: none;
    }

    .title {
      width: 100%;
      text-align: center;
    }
  }
}

@media (max-width: 500px) {
  .employment-history-list-section {
    width: 90%;
  }
}
