.nav-bar {
  display: flex;
  flex-direction: row-reverse;
  background-color: grey;
  padding-top: 1rem;
}

.front-view {
  width: 100%;
}

.account-type-wrap {
  width: 280px;
}

.auth-container {
  & a {
    margin-bottom: 10px;
    font-size: 18px !important;
    text-transform: uppercase;
    text-align: center;
  }
}
