.nav-bar {
  display: flex;
  flex-direction: row-reverse;
  background-color: grey;
  padding-top: 1rem;
}

.front-view {
  width: 100%;
}

.account-type-wrap {
  width: 280px;
}

.auth-container {
  & a {
    margin-bottom: 10px;
    font-size: 18px !important;
    text-transform: uppercase;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .type-title{
    text-align: center;
  }
  .account-type-wrap {
    width: 100%;
    .account-type {
      svg{
        width: 14px;
        height: 14px;
      }
      .account-type-title{
        font-size: 13px;
      }
      .account-status {
        height: auto;
        padding: 15px;
      }
    }
    .account-type-main-content {
      p {
        font-size: 14px;
      }
    }
  }
}
