.stripe-input {
  border: 1px solid rgb(226, 232, 240);
  border-radius: 2px;
  padding: 12px;
  height: 47px;
  margin-top: 6px;
}

.process-payments-section {
  width: 33.3%;
}

@media (max-width: 786px) {
  .process-payments-section {
    width: 60%;

    .back-arrow {
      display: none;
    }

    .title {
      text-align: center;
      margin: auto;
    }
  }
}

@media (max-width: 500px) {
  .process-payments-section {
    width: 90%;
  }
}
